.footer-div{
    background-color: #161517;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.social-media-icons{
    width: 100%;
    display: flex;
    justify-content:center;
}
.social-media-icons i{
    font-size: 2vw;
    color: #F9F6ED;
    margin: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9F6ED;
    margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
    .social-media-icons i{
        font-size: 5vw;
        color: #F9F6ED;
        margin: 3%;
        margin-top: 15%;
        margin-bottom: 10%;
    }
}