body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'HunterRiver';
  src: local('HunterRiver'), url("./fonts/HunterRiver-Regular.otf");
}


@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url("./fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Alamendro';
  src: local('Alamendro'), url("./fonts/alamendro.ttf");
}
@font-face {
  font-family: 'Quicksand-1';
  src: local('Quicksand-1'), url("./fonts/Quicksand-VariableFont_wght.ttf");
}
